[alias]
	lol = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold blue)<%an>%Creset %C(green)(%ar)%Creset %C(red)%d%Creset %s' -10
	sol = log --graph --pretty=format:'%C(yellow)%h%Creset %C(bold blue)<%an>%Creset %C(green)(%ar)%Creset %C(red)%d%Creset %s' -1
	recommit = !git commit --reuse-message=HEAD --amend --author=\"$(git config user.name) <$(git config user.email)>\"

[color]
	ui = auto

[diff-so-fancy]
	markEmptyLines = false
	stripLeadingSymbols = false

[pager]
	diff = diff-so-fancy | less --tabs=8 -RFX
	show = diff-so-fancy | less --tabs=8 -RFX

[push]
	default = simple

[user]
	name = Dustin Brown
	email = dubrowgn@gmail.com
