[Unit]
Description=//dubrowgn-srv/shared-write mount service
After=network-online.target
StartLimitIntervalSec=0

[Service]
ExecStart=/root/nas-service.sh "//dubrowgn-srv/shared-write" "/nas/shared"
Restart=always
RestartSec=4

[Install]
WantedBy=network-online.target
